* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
    font-family: 'Press Start 2P', cursive;
}

#main-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

h1 {
    position: absolute;
    width: 600px;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    color: white;
    background: none;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start-button {
    position: absolute;
    color: white;
    background: red;
    border-radius: 3%;
    border: none;
    width: 120px;
    height: 40px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.game-over-button {
    position: absolute;
    color: white;
    background: red;
    border-radius: 3%;
    border: none;
    width: 150px;
    height: 40px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.back-button {
    position: absolute;
    color: white;
    background: red;
    border: none;
    width: 150px;
    height: 40px;
    top: 15%;
    left: 70%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

span {
    position: absolute;
    color: white;
    top: 15%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.canvas-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.game-score {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}